* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
}

p {

  font-size: 0.938rem;
}

.text-centered {

  text-align: center;
}

body {

  background-color: hsl(216, 12%, 8%);
}

.star {

  display: inline-block;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  padding: 0.8rem 1rem;
  margin-bottom: 1.5rem;
}

.circle {
  
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  font-weight: bold;
  padding: 1rem 1.3rem;
  color: hsl(216, 12%, 54%);
}

.circle:hover {

  background-color: orange;
  color: white;
  cursor: pointer;
}

.active-rating {

  background-color: hsl(216, 12%, 54%);
  color: white;
}

#rating-state, #thank-you-state{

  background-color: #202731;
  margin: 13.969rem auto;
  width: 23.75rem;
  padding: 1.677rem;
  border-radius: 1rem;
}

#rating-state h1 {

  color: white;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}

#rating-state p {

  color: hsl(216, 12%, 54%);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

#rating-state ul {

  padding: 1rem 0;
  margin-bottom: 1rem;
}

#rating-state ul li {

  display: inline;
  margin-right: 0.5rem;
}

#rating-state button {

  padding: 0.8rem 0;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

#rating-state button:hover {

  background-color: #ffffff;
  color: orange;
  cursor: pointer;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.illustrationHolder {

  text-align: center;
  margin: 1rem 0;
}

.msg-holder {

  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 12.237rem;
  margin: 1rem auto;
}

#thank-you-state h1 {

  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}

#thank-you-state p {

  color: hsl(216, 12%, 54%);
  margin: 1rem 0;
}

@media (max-width: 447px) {

  .circle {

    padding: 3.8% 5.8%;
  }

  #rating-state, #thank-you-state {

    width: 85vw;
  }

  #rating-state ul li { 

    margin-right: 3.1%;
  }
}